<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	class="loading" lang="pt-BR">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Estudantes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>

	<div class="content-header row">
		<!--  mensagens -->
		<!--Mensagem de sucesso-->
		<div class="alert alert-success alert-dismissible fade show"
			role="alert" data-auto-dismiss="4000" th:if="${success} != null">
			<span th:text="${success}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim mensagem de sucesso-->

		<!--Mensagem de info-->
		<div class="alert alert-info alert-dismissible fade show" role="alert"
			data-auto-dismiss="4000" th:if="${info} != null">
			<span th:text="${info}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim mensagem de info-->
		<!--Mensagem de erro-->
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert" data-auto-dismiss="4000" th:if="${error} != null">
			<span th:text="${error}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim da mensagem de erro-->
		<!--Mensagem de warning-->
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" data-auto-dismiss="4000" th:if="${warning} != null">
			<span th:text="${warning}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim da mensagem de warning-->

		<div id="msg-sucesso-post"
			class="alert alert-success alert-dismissible fade show"
			style="display: none;" role="alert">
			<span id="texto-post-msg"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<!-- fim mensagens -->
	</div>

	<div class="card">
		<div class="card-body">
			<div layout:fragment="content" class="content-body"></div>
		</div>
	</div>

</body>
</html>