<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	class="loading" lang="pt-BR">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Estudantes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	.bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>

	<div class="card">
	<div class="card-header">
	<!--Mensagem de sucesso-->
		<div  class="alert alert-success alert-dismissible fade show" role="alert" data-auto-dismiss="4000" th:if="${success} != null">
			<span th:text="${success}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim mensagem de sucesso-->

		<!--Mensagem de info-->
		<div class="alert alert-info alert-dismissible fade show" role="alert"
			data-auto-dismiss="4000" th:if="${info} != null">
			<span th:text="${info}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim mensagem de info-->
		<!--Mensagem de erro-->
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert" data-auto-dismiss="4000" th:if="${error} != null">
			<span th:text="${error}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim da mensagem de erro-->
		<!--Mensagem de warning-->
		<div class="alert alert-warning alert-dismissible fade show"
			role="alert" data-auto-dismiss="4000" th:if="${warning} != null">
			<span th:text="${warning}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!--Fim da mensagem de warning-->

		<div id="msg-sucesso-post"
			class="alert alert-success alert-dismissible fade show"
			style="display: none;" role="alert">
			<span id="texto-post-msg"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
		<div class="card-body">
			<div layout:fragment="content" class="content-body"></div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	  
</body>
</html>